body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}



.container {
    text-align: center;
    padding: 15px;
}

#sagrado{
width: 200;
height: auto;
margin: auto;
float: left;
}

#cuquio{
    width: 200;
    height: auto;
    margin: auto;
    float: center;
}



h1 {
    color: #333;
}

.main-image {
    width: 50%;
    max-width: 200px;
    height: auto;
    margin: 20px 0;
    float: center;
}

.button-container {
    margin-top: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #912b03;
    color: rgb(255, 241, 248);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #f5b090;
}


